<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="amlogic.videoplayer"
      android:versionCode="1" android:versionName="1.60">
      <supports-screens
      	android:largeScreens="true"
		android:anyDensity="true" />
		<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <application android:icon="@drawable/icon72" android:label="@string/app_name">
        <activity android:name=".FileList"
                  android:label="@string/app_name"
                  >
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>

    
		<activity android:name="videobar"></activity>
		<activity android:name="playermenu" 
			android:label="@string/main_activity"
			android:screenOrientation="landscape">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
		</activity>
<service android:exported="true" android:name="amlogic.playerservice.AmPlayer"></service>
</application>



<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest> 
